* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
      font-family: "Raleway", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2f3138;
  }
 
 
  a {
    color: #f82249;
    text-decoration: none;
    transition: 0.5s;
  }
  
  a:hover, a:active, a:focus {
    color: #cfadb3;
    outline: none;
    text-decoration: none;
  }

  .App {
    /* font-family: sans-serif; */
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    width: 100%;
    /* min-height: 100vh; */
  }
  
  .App .navbar {
    /* position:sticky; */
    /* top: 100; */
    width: 100%;
    min-height: 5vh;
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
    color: #f82249;
    background: rgb(62, 62, 62);
  }
.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightblue;
}
  .App .navbar .logo {
    /* background-image: '../assets/logo_ff2_2021.png'; */
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    scale: 0.7;
  }
  .App .navbar .nav-links {
    width: 25%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 100px;
  }
  
  .App .navbar .nav-links>a{
    color: rgb(184, 180, 180);
    text-decoration: none;
  }
    
  .App .navbar .nav-links a:hover, a:active a:visited{
    color: rgb(142, 239, 200);
    text-decoration: underline;
    cursor:pointer;
  }
  
